#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pmw3610.h>

#define BASE 0
#define SYMBOLS 1
// #define UTILITY 2
#define POINTER 2
#define DANGER 3

#if defined(CONFIG_SHIELD_CHARYBDIS_RIGHT)
&trackball {
    scroll-layers = <>;
    snipe-layers = <>;
    runtime-default-cpi = <400>;
    runtime-default-snipe-cpi = <400>;
};
#endif

&spi3 {
    status = "disabled";
};

&left_encoder_1 {
    status = "disabled";
};

&left_encoder_2 {
    status = "disabled";
};

&sensors {
    status = "disabled";
};

/ {
    chosen {
        /delete-property/ zmk,underglow;
    };

    behaviors {
        pmw: pmw3610_runtime {
            compatible = "zmk,behavior-pmw3610";
            #binding-cells = <1>;
            display-name = "PMW3610 Runtime";
        };

    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
&kp ESC       &kp N1       &kp N2       &kp N3       &kp N4       &kp N5          &kp N6       &kp N7       &kp N8       &kp N9       &kp N0          &kp BSLH
&kp TAB       &kp Q        &kp W        &kp E        &kp R        &kp T           &kp Y        &kp U        &kp I        &kp O        &kp P           &kp LEFT_BRACE
&kp LCTRL     &kp A        &kp S        &kp D        &kp F        &kp G           &kp H        &kp J        &kp K        &kp L        &kp SEMI        &kp SQT
&kp LSHIFT    &kp Z        &kp X        &kp C        &kp V        &kp B           &kp N        &kp M        &kp COMMA    &kp PERIOD   &kp FSLH        &kp RSHIFT
                                        &mo POINTER  &mo SYMBOLS  &kp SPACE       &kp BACKSPACE &kp ENTER
                                                     &kp LALT     &kp LGUI        &kp RALT
            >;
        };

        symbols_layer {
            display-name = "Symbols";
            bindings = <
&trans     &kp F1          &kp F2     &kp F3                &kp F4                  &kp F5          &kp F6       &kp F7       &kp F8        &kp F9           &kp F10   &mo DANGER
&trans     &kp TILDE       &kp GRAVE  &kp LEFT_BRACE        &kp RIGHT_BRACE         &kp F11         &kp F12      &none        &kp UP        &none            &none     &none
&trans     &kp MINUS       &kp EQUAL  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS   &kp PAGE_UP     &kp C_VOL_UP &kp LEFT     &kp DOWN      &kp RIGHT        &none     &none
&trans     &kp UNDERSCORE  &kp PLUS   &kp LEFT_BRACKET      &kp RIGHT_BRACKET       &kp PAGE_DOWN   &kp C_VOL_DN &none        &kp LESS_THAN &kp GREATER_THAN &none     &trans
                                      &none                 &trans                  &trans          &kp DELETE &trans
                                                            &trans                  &trans          &trans
            >;
        };

        /*
        utility_layer {
            display-name = "Utility";
            bindings = <
&kp ESC          &kp F1       &kp F2             &kp F3          &kp F4             &kp T              &kp F6       &kp F7       &kp F8       &kp F9       &kp F10      &to BASE
&kp D            &kp N        &kp LC(LG(L))      &kp LG(LA(L))   &kp LA(Y)           &kp LA(X)          &kp Y        &kp U        &kp I        &kp O        &kp P        &kp BSLH
&kp LG(R)        &kp A        &mt LALT LS(LG(LEFT_BRACKET)) &kp LG(B) &kp LS(LG(RIGHT_BRACKET)) &kp LS(BACKSPACE) &kp H &kp J &kp K &kp L &kp SEMI &kp SQT
&mo POINTER      &kp Z        &kp J              &kp SPACE       &kp L               &kp BACKSPACE      &kp LG(C)    &kp LA(V)    &kp COMMA    &kp PERIOD   &kp FSLH     &kp LGUI
                                                     &kp LSHIFT   &kp LA(V)   &kp ENTER    &kp SPACE   &kp BACKSPACE
                                                                  &kp LGUI    &kp LCTRL    &kp LALT
            >;
        };
        */

        pointer_layer {
            display-name = "Pointer";
            bindings = <
&none   &none               &none                &none                  &none                  &none      &none           &none     &none     &none     &none        &none
&none   &none               &none                &pmw PMW_SNIPE_CPI_DEC &pmw PMW_SNIPE_CPI_INC &none      &none           &kp KP_N7 &kp KP_N8 &kp KP_N9 &none        &none
&trans  &pmw PMW_SNIPE_HOLD &pmw PMW_DRAG_SCROLL &pmw PMW_CPI_DEC       &pmw PMW_CPI_INC       &none      &kp KP_DIVIDE   &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_MINUS &kp KP_PLUS
&trans  &mkp MB4            &mkp MB5             &mkp MB1               &mkp MB2               &mkp MB3   &kp KP_MULTIPLY &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_DOT   &trans
                                                 &trans                 &none                  &none      &kp KP_ENTER    &kp KP_N0
                                                                        &trans                 &trans     &trans
            >;
        };

        danger_layer {
            display-name = "Danger";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &out OUT_BLE &out OUT_USB &none  &none  &none  &none
&bt BT_CLR_ALL  &bt BT_CLR    &none         &none         &none         &bootloader     &bootloader  &none         &none  &none  &none  &none
&none           &none         &none         &none         &none         &none           &none        &none        &none  &none  &none  &none
&none           &none         &none         &none         &none         &none           &none        &none        &none  &none  &none  &none
                                           &none         &none         &none           &none        &none
                                                         &none         &none           &none
            >;
        };

    };
};
